.gifts__tabs {
    display: flex;
    gap: 8px;

    @media screen and (max-width:435px) {
        & {
            gap: 0px;
        }
    }
}

.tab {
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.05em;
    padding: 12px 20px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.4s;

    &--active {
        color: $static-white;
        border-radius: 12px;
        background-color: $static-white-20;
        pointer-events: none;
    }

    @media (hover:hover) {
        &:hover {
            background-color: $static-white-20;            
            border-radius: 12px;
        }

        &:hover button {
            cursor: pointer;
        }
    }

    @media screen and (max-width:650px) {
        & {
            font-size: 12px;
            font-weight: 600;
            line-height: 130%;
            letter-spacing: 0.05em;
            padding: 12px 8px;
        }
    }
}