.gifts__wrapper {
    @include flex-column;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    gap: 20px;
}

.gifts__header h1 {
    text-align: center;
    width: 426px;

    @media (max-width:435px) {
        & {
            width: 100%;
        }
    }
}