* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  border: none;
}

.open-modal {
  overflow: hidden;
}

.hidden {
  display: block !important;
  overflow: hidden;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

button {
  background: none;
  border: none;
  padding: 0;
}

* {
  font-family: "Montserrat", sans-serif;
}

body {
  color: #181C29;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 148%;
}

.action-large {
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  color: #181C29;
  text-transform: uppercase;
}

.action-small {
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  color: #181C29;
  text-transform: uppercase;
}
.action-small--white {
  color: #FFFFFF;
}
.action-small--disabled {
  pointer-events: none;
}

.title-primary {
  font-weight: 600;
  text-align: center;
  color: #FFFFFF;
  font-size: 32px;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  line-height: 150%;
}

.title2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.16em;
  color: #FFFFFF;
  text-transform: uppercase;
}
.title2--dark {
  color: #181C29;
}

.title3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.title4 {
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.title4--purple {
  color: #4361FF;
}
.title4--green {
  color: #06A44F;
}
.title4--pink {
  color: #FF43F7;
}
.title4--white {
  color: #FFFFFF;
  text-align: center;
}

.caption {
  font-family: "Allura", serif;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.05em;
  line-height: 100%;
  color: #FFFFFF;
}
.caption--red {
  color: #FF4646;
}
.caption--black {
  color: #181C29;
}
.caption--top {
  margin-top: 60px;
}
.caption--bottom {
  margin-bottom: 60px;
}

svg {
  stroke: #FFFFFF;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 56px;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.4s;
}
.arrow svg {
  transition: 0.4s;
}
.arrow--active {
  cursor: pointer;
}
.arrow--disabled {
  border: 1px solid rgba(255, 255, 255, 0.4);
  pointer-events: none;
}
.arrow--disabled svg {
  stroke: rgba(255, 255, 255, 0.4);
}
.arrow--up {
  display: flex;
  width: 56px;
  height: 56px;
  border: 1px solid #FF4646;
  background-color: #FFFFFF;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 8px;
  bottom: -100%;
  transition: bottom 0.3s;
}
@media screen and (max-width: 769px) {
  .arrow--up.active {
    bottom: 8px;
  }
}
@media (hover: hover) and (pointer: fine) {
  .arrow:hover {
    background-color: #FFFFFF;
  }
  .arrow:hover svg {
    stroke: #FF4646;
  }
}
@media screen and (max-width: 769px) {
  .arrow--up.active {
    display: flex;
  }
}

.button {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  align-content: center;
  line-height: 130%;
  letter-spacing: 0.05em;
  border-radius: 20px;
  color: #FFFFFF;
  background-color: #181C29;
  width: 235px;
  height: 56px;
  padding: 20px 32px;
  cursor: pointer;
  transition: 0.4s;
}
@media (hover: hover) and (pointer: fine) {
  .button:hover {
    color: #181C29;
    background-color: #FFFFFF;
  }
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: #ECF3F8;
  width: 310px;
  height: 342px;
  cursor: pointer;
}
.card__img {
  border-radius: 20px;
}
.card__description {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  gap: 8px;
  background-color: #FFFFFF;
  padding: 20px;
  height: 100%;
}
.card h3 {
  transition: color 0.4s;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}
@media screen and (max-width: 1439px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1000px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 650px) {
  .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (hover: hover) and (pointer: fine) {
  .card:hover h3 {
    color: #FF4646;
  }
}
.timer-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 60px;
}
.timer-wrapper > p {
  text-align: center;
}

.timer {
  display: flex;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.4);
  padding: 8px 12px 12px 12px;
}
.timer__container {
  width: 80px;
  height: 52px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.timer__container h2 {
  text-align: center;
}
.timer__container h4 {
  text-align: center;
}
.timer__container:after {
  position: absolute;
  content: "";
  border: 1px solid rgba(255, 255, 255, 0.4);
  top: 15px;
  height: 20px;
  left: -2px;
}
.timer__container:first-child:after {
  display: none;
}

.slider-section__box {
  display: flex;
  flex-direction: column;
  padding: 60px 0px;
  gap: 20px;
}
.slider-section__titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.slider {
  display: flex;
  padding-right: 0;
  gap: 20px;
  position: relative;
  right: 0;
  transition: all 0.8s ease;
  z-index: 1;
}

.slide {
  display: flex;
  gap: 20px;
  align-items: center;
}
.slide__text {
  font-size: 80px;
  font-weight: 600;
  color: #FFFFFF;
  text-transform: uppercase;
}
.slide__img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.slider-controls {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}

.gifts__tabs {
  display: flex;
  gap: 8px;
}
@media screen and (max-width: 435px) {
  .gifts__tabs {
    gap: 0px;
  }
}

.tab {
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  padding: 12px 20px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.4s;
}
.tab--active {
  color: #FFFFFF;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
  pointer-events: none;
}
@media (hover: hover) and (pointer: fine) {
  .tab:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 12px;
  }
  .tab:hover button {
    cursor: pointer;
  }
}
@media screen and (max-width: 650px) {
  .tab {
    font-size: 12px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0.05em;
    padding: 12px 8px;
  }
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 82px;
  margin: 0 auto;
}
.container--hero {
  background: url(../images/bg-snow.png), url(../images/bg-ball.png);
  background-size: cover;
  background-position: center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.container--about {
  background: url(../images/bg-snow.png);
  background-size: cover;
  background-position: center;
}
.container--slider {
  background: url(../images/bg-snow.png);
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
.container--best-gifts {
  background: url(../images/bg-snow.png);
  background-size: cover;
  background-position: center;
}
.container--cta {
  background: url(../images/bg-snow.png), url(../images/bg-forest.png);
  background-size: cover;
  background-position: center;
  padding-top: 59px;
  padding-bottom: 60px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.container--gifts {
  background: url(../images/bg-garland.png), #FF4646;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 20px;
}
@media screen and (max-width: 1190px) {
  .container {
    padding-left: 8px;
    padding-right: 8px;
  }
}

.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}
.header__nav.open {
  display: flex;
  right: 0px;
  transition: all 0.8s;
}
.header__burger-wrapper {
  display: none;
}
.header__burger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.header__burger-line {
  width: 20px;
  border: 1px solid #181C29;
  transition: all 0.5s;
}
.header__burger.open div:first-child {
  transform: rotate(45deg);
  translate: 0px 4px;
  transition: all 0.5s;
}
.header__burger.open div:last-child {
  transform: rotate(-45deg);
  translate: 0px -5px;
  transition: all 0.5s;
}
@media screen and (max-width: 769px) {
  .header__nav {
    display: flex;
    position: fixed;
    top: 0px;
    right: -100%;
    width: 100%;
    height: 100vh;
    padding-top: 63px;
    justify-content: center;
    background-color: #FFFFFF;
    transition: all 0.8s;
  }
  .header__burger {
    display: flex;
    position: relative;
    z-index: 2;
  }
  .header__burger.fixed {
    position: fixed;
    right: 8px;
  }
}

.logo__link {
  display: flex;
  gap: 8px;
  padding: 8px 20px;
  align-items: center;
}
.logo__img {
  width: 24px;
  height: 24px;
}
.logo__title {
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
}
.logo__svg {
  stroke: none;
}
@media (hover: hover) and (pointer: fine) {
  .logo:hover {
    cursor: pointer;
  }
}
@media screen and (max-width: 769px) {
  .logo {
    z-index: 1;
  }
}

.nav-list {
  display: flex;
  gap: 8px;
}
.nav-list.open {
  display: flex;
}
@media screen and (max-width: 769px) {
  .nav-list {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
}

.list-item {
  font-size: 12px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.05em;
  border-radius: 12px;
}
.list-item--active {
  background-color: rgba(255, 70, 70, 0.1019607843);
  border-radius: 12px;
  color: #FF4646;
}
.list-item--no-hover {
  pointer-events: none;
}
.list-item--burger {
  padding: 12px 20px;
}
.list-item__link {
  padding: 12px 20px;
  transition: 0.4s;
  border-radius: 12px;
}
@media (hover: hover) and (pointer: fine) {
  .list-item__link:hover {
    color: #FF4646;
    background-color: rgba(255, 70, 70, 0.1019607843);
    border-radius: 12px;
    cursor: pointer;
  }
}

@media screen and (max-width: 769px) {
  .list-item__link {
    font-size: 24px;
    font-weight: 600;
    line-height: 152%;
    letter-spacing: 0.16em;
  }
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  align-items: center;
  margin: 60px 0px;
}
.footer__cards-box {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 12px;
  justify-content: space-between;
}
.footer__link {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 0;
}
.footer__card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  border-radius: 20px;
  background-color: #ECF3F8;
  padding: 20px;
  cursor: pointer;
  color: #181C29;
}
.footer__card img {
  width: 80px;
  height: 80px;
}
.footer__card h3, .footer__card p {
  transition: color 0.4s;
}
@media (hover: hover) and (pointer: fine) {
  .footer__card:hover a {
    color: #FF4646;
  }
  .footer__card:hover p {
    color: #FF4646;
  }
  .footer__card:hover h3 {
    color: #FF4646;
  }
}
@media screen and (max-width: 1190px) {
  .footer__cards-box {
    flex-direction: column;
  }
}

.footer-text {
  color: #181C29;
}

.footer__links-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
}
.footer__links-box .caption--black {
  transition: color 0.4s;
}
@media (hover: hover) and (pointer: fine) {
  .footer__links-box .caption--black:hover {
    color: #FF4646;
    cursor: pointer;
  }
}

.links {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.img-box {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}
.img-box img {
  width: 24px;
  height: 24px;
}
.img-box svg {
  transition: stroke 0.4s;
}
@media (hover: hover) and (pointer: fine) {
  .img-box:hover {
    cursor: pointer;
    stroke: #FF4646;
  }
  .img-box:hover svg {
    stroke: #FF4646;
  }
}

.icon {
  width: 24px;
  height: 24px;
  stroke: #181C29;
}

.modal__wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(24, 28, 41, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.modal__wrapper.open {
  display: flex;
  padding: 8px;
}

.modal__btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 12px;
  right: 12px;
  cursor: pointer;
}

.modal {
  display: flex;
  max-width: 400px;
  margin: 0 auto;
  flex-direction: column;
  background-color: #ECF3F8;
  border-radius: 20px;
  position: relative;
}
.modal__card {
  display: flex;
  flex-direction: column;
}
.modal__img {
  height: 230px;
  background-size: cover;
  background-position: center;
}
.modal__container {
  display: flex;
  flex-flow: column wrap;
  background-color: #FFFFFF;
  border-radius: 20px;
}
.modal__description {
  display: flex;
  flex-flow: column wrap;
  gap: 8px;
  padding: 20px;
}
.modal__box {
  display: flex;
  flex-flow: column wrap;
  gap: 8px;
  padding: 0 20px 20px 20px;
}

.superpowers-box {
  display: flex;
  flex-direction: column;
}
.superpowers-box__element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.scores-box {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}

.snowflakes {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.snowflakes img {
  width: 16px;
  height: 16px;
}
.snowflakes svg {
  fill: rgba(255, 70, 70, 0.1019607843);
  stroke: none;
}

.gifts__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
  gap: 20px;
}

.gifts__header h1 {
  text-align: center;
  width: 426px;
}
@media screen and (max-width: 442px) {
  .gifts__header h1 {
    width: 100%;
  }
}

.main {
  max-width: 1440px;
  margin: 0 auto;
  background: linear-gradient(180deg, #FF4646 99.9%, rgb(255, 255, 255) 100%);
  border-radius: 20px;
}

.hero__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 60px;
  gap: 12px;
}
@media screen and (max-width: 650px) {
  .hero__box {
    padding: 60px 0px;
  }
}

.about__wrapper {
  width: 100%;
  height: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}
.about__box {
  display: flex;
  background-color: #FFFFFF;
  border-radius: 20px;
  justify-content: space-between;
}
.about__text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 100px 0px 0px 60px;
  width: 50%;
}
.about__img {
  background: url(../images/santa.png);
  background-position: center;
  border-radius: 20px;
  width: 50%;
  height: 528px;
}
@media screen and (max-width: 1330px) {
  .about__box br {
    display: none;
  }
  .about__text {
    padding-right: 60px;
  }
}
@media screen and (max-width: 890px) {
  .about__text {
    padding: 46px 60px;
  }
}
@media screen and (max-width: 650px) {
  .about__box {
    flex-direction: column;
  }
  .about__text {
    width: 100%;
    padding: 0 20px 60px 20px;
  }
  .about__img {
    width: 100%;
  }
}

.best-gifts__box {
  display: flex;
  flex-direction: column;
  padding-top: 59px;
  padding-bottom: 60px;
  gap: 20px;
}
.best-gifts__titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.best-gifts__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
@media screen and (max-width: 1439px) {
  .best-gifts__cards {
    max-width: 632px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
}

.cta__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 426px;
  height: 428px;
  margin: 0 auto;
  margin-top: 120px;
  gap: 20px;
}
.cta__box > h2 {
  text-align: center;
}
@media screen and (max-width: 450px) {
  .cta__box {
    width: 100%;
    margin-bottom: 37px;
  }
}