$primary-color:#FF4646;
$primary10-color: #FF46461A;
$dark-color: #181C29;
$static-white: #FFFFFF;
$static-white-20: rgba(255, 255, 255, 0.2);
$static-white-40: rgba(255, 255, 255, 0.4);
$purple-color: #4361FF;
$pink-color: #FF43F7;
$green-color: #06A44F;
$overlay-color:#181C29CC; 